* {
    margin: 0;
    padding: 0;
}

:root {
    --gray: #f7f7f8
}

@font-face {
    font-family: "Roboto", sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
}


body {
    font-family: "Roboto", sans-serif;
}

#container {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 8fr 1fr;
    backdrop-filter: blur(4px);
}

.header, .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.main {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr auto;
    background-color: var(--gray);
    padding: 25px;
}

#grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
}

.card {
    background-color: white;
    padding: 25px;
    border: 1px solid gray;
}

.hidden {
    display: none;
}

dialog {
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 250px;
    background-color: lightgray;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 25px;
}

dialog::backdrop {
    filter: blur(8px);
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.main::backdrop {
    opacity: 0.75;
}
.checkbox {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

button[type="submit"], #close {
    align-self: flex-end;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    width: 90px;
    height: 45px;
    background-color: #0059ff;
    border: none;
}

input {
    padding: 5px;
}

.form-buttons {
    display: flex;
    gap: 25px;
}

#close {
    background-color: red;
}

#close:hover {
    background-color: #ff1e00dc;
}

.add {
    grid-column: 1 / 2;
    justify-self: end;
    align-self: end;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    font-size: 25px;
    border: none;
    color: white;
    background-color: #0059ff;
}

button:hover {
    cursor: pointer;
    background-color: #0099ff;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #000000a1;
}

span > img {
    width: 21px;
    height: 21px;
}

h3 {
    display: flex;
    gap: 1em;
}

span {
    display: flex;
    gap: 5px;
}